html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
    text-underline-position: under;
}

.underlined:visited {
    color: blue;
}

.header {
    z-index: 9;
    box-shadow: 0px 0px 10px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.nav-item {
    padding: 0 15px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #475569;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #101010;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    flex-direction: column;
}

.container h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    position: absolute;
    top: 80px;
}

.container ul {
    text-align: center;
}

.form-outline {
    position: relative;
    height: 100px;
}

.form-label {
    position: absolute;
    bottom: 15px;
    font-size: 25px;
}

.form-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 22px;
}

input[type='submit']{
    width: 100%;
    height: 46px;
    font-size: 22px;
    font-weight: 600;
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: 2px solid;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        padding: 15px 15px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}